<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prize.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @prize.price %>
</p>

<p>
  <strong>Is in stock:</strong>
  <%= @prize.is_in_stock %>
</p>

<p>
  <strong>In stock:</strong>
  <%= @prize.in_stock %>
</p>

<%= link_to 'Edit', edit_prize_path(@prize) %> |
<%= link_to 'Back', prizes_path %>
<%= link_to 'Buy', new_prize_delivery_delivery_path(@prize) %>
