<div class="container">
<%if current_admin %>
<%= render partial: 'admin_nav_prizes', :locals => {:admin_nav_head => "Prize info"} %>
<% end %> 
  <div class="row" style="margin-top: 100px">

    <div class="col-sm-4">
      <div class="prize-single-thumbnail" style="background: url('<%= @prize.thumbnail.url %>')">
      </div>
        <p style="text-align: center">
          <strong>Requierements: </strong>
          <%= @prize.price %>p, <%= @prize.exp_price%> exp, <%= @prize.level_needed %> level
        </p>

        <!-- <p><%= @prize.in_stock %> in stock</p> -->

        <% if @prize.in_stock == 0 %>
          <p> We don't have this product in stock. </p>
        <% elsif current_user %>
          <% if current_user.points >= @prize.price && current_user.level >= @prize.level_needed && current_user.experience >= @prize.exp_price %>
            
            <%= link_to (new_prize_delivery_delivery_path(@prize.id)) do %>
              <button class="btn-buy-prize single-prize-btn">
                Buy
              </button>
            <% end %>
          <% else %>
            <p>You do not have enough points, experience or level to buy this product</p>
          <% end %>
        <% elsif current_admin%>
          <%= link_to 'Edit', edit_prize_path(@prize) %>
        <% else %>
          <p class="prize-buy-not-logged"> Please log in to be able to buy this product </p>
        <% end %>

    </div>
   

    <div class="col-sm-8">
      <div class="prize-single-info">
         <p class="prize-single-name"><%= @prize.name %></p>
         <p> <%= @prize.description.html_safe %></p>
       </div>
    </div>


  </div> <!-- row -->
</div> <!-- container -->