<h2><%= @bet.team_one %> VERSUS <%= @bet.team_two %> </h2>
<div class="bet_layout">
  <p> 
    <span class="team_one_chance">
      <%= @bet.team_one_chance %>%
    </span>
    <span class="team_one"> 
      <%= @bet.team_one %> 
    </span>
    VS. 
    <span class="team_two">
      <%= @bet.team_two %> 
    </span>
    <span class="team_two_chance">
      <%= @bet.team_two_chance %>%
    </span>
  </p>

  <div class="values">
  values:
    <span class="team_one_value">
      <%= @bet.team_one_value %>
    </span>
    <span class="team_two_value">
      <%= @bet.team_two_value %>
    </span>
  </div><!-- .values -->
</div> <!-- .bet_layout -->

<% if @bet.can_bet != 0 %>
    <% if DateTime.now.in_time_zone < @bet.match_starts_at.in_time_zone.to_datetime %>
        <% if !@already_bet %>
            <%= render 'form' %>
        <% else %>
            <% if @user_bet.bet_on_id == 1 %>
        	   <p>Betted <%= @user_bet.bet_points %> points on <%= @bet.team_one %> </p>
             <% elsif @user_bet.bet_on_id == 2 %>
        	   <p>Betted <%= @user_bet.bet_points %> points on <%= @bet.team_two %> </p>
            <% end %>
        <% end %>
    <% else %>
      <p>Match has already ended</p>
    <% end %>
<% else %>
    <p>Match has already ended</p>
<% end %>