<div class="container">
  <div class="row">
  <%= render partial: 'admin_nav_userbets', :locals => {:admin_nav_head => "Show delivery info"} %>
    <div class="show-container">

      <p id="notice"><%= notice %></p>

      <p>
        <strong> ID: </strong>
        <%= @user_bet.id %>
      </p>

      <p>
        <strong>User ID:</strong>
        <%= @user_bet.user_id %>
      </p>

      <p>
        <strong>Bet ID:</strong>
        <%= @user_bet.bet_id %>
      </p>

      <p>
        <strong>Bet on:</strong>
        <%= @user_bet.bet_on_id %>
      </p>

      <p>
        <strong>Bet points:</strong>
        <%= @user_bet.bet_points %>
      </p>

      <p>
        <strong>Bet team:</strong>
        <%= @user_bet.bet_team %>
      </p>

      <p>
        <strong>Won:</strong>
        <%= @user_bet.won %>
      </p>

      <p>
        <strong>Loss:</strong>
        <%= @user_bet.loss %>
      </p>

      <p>
        <strong>Returned value:</strong>
        <%= @user_bet.returned_value %>
      </p>

      <p>
        <strong>Experience change:</strong>
        <%= @user_bet.exp_change %>
      </p>

      <p>
        <strong>Closed:</strong>
        <%= @user_bet.closed %>
      </p>

      <p>
        <strong>Created at:</strong>
        <%= @user_bet.created_at %>
      </p>

      <p>
        <strong>Updated at:</strong>
        <%= @user_bet.updated_at %>
      </p>

      <%= link_to 'Back', user_bets_path %>
    </div>
  </div>
</div>