<!DOCTYPE html>
<html>
<head>
  <title>BettingForge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="menu">
	<li><p><%= link_to "BettingForge", root_path %></p></li>
	<li><%= link_to "Register", new_user_registration_path %></li>
	<li><%= link_to "Sign in", user_session_path %></li>
	<li><%= link_to "Log out",  destroy_user_session_path, :method => :delete %></li>
	<li><%= link_to "Create bet", new_bet_path %></li>
	<li><%= link_to "User bets", user_bets_path %></li>
	<li><%= link_to "Users", users_path %></li>
</ul>

<ul>
	<li><h2>Stuff to do:</h2></li>
	<li> VVVVV increment bets.bets_on_team_X </li>
	<li> VVVVV add new columns to bets table -> match starts at(time) </li>
	<li> VVVVV Remove User.curr_bets </li>
	<li> VVVVV Add default values to bets variables </li>
	<li> FIX DATETIMES ON BET(so can create when it starts) </li>
	<br>
	<li> Think about chances and values on bets(how to do them)(latest maybe) </li>
	<li> LATER(PROBLEMS WITH TIMESTAMP)make an admin page for bets (can create, end) </li>
</ul>

<%= yield %>

</body>
</html>
