<!DOCTYPE html>
<html>
<head>
  <title>BettingForge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%if current_user %>
	<ul class="menu-users">
		<li><p><%= link_to "BettingForge", root_path %></p></li>
		<li><%= link_to "My Bets", my_bets_users_path %></li>
		<li><%= link_to "My Profile", profile_users_path %></li>
		<li><%= link_to "Log Out",  destroy_user_session_path, :method => :delete %></li>
		<li> Logged in as: <%= current_user.username %> </li>	
	</ul>
<% elsif current_admin %>
	<ul class="menu-admins">
		<li><p><%= link_to "BettingForge AdminPanel", admin_panel_admin_index_path %></p></li>
		<li><%= link_to "View site", root_path %>
		<li><%= link_to "LogOut", destroy_user_session_path, :method => :delete %></li>
		<li> Logged in as: <%= current_admin.username %> </li>
	</ul>
<% else %>
	<ul class="menu-users">
		<li><p><%= link_to "BettingForge", root_path %></p></li>
		<li><%= link_to "UserReg", new_user_registration_path %></li>
		<li><%= link_to "UserLogIn", user_session_path %></li>
		<li><%= link_to "AdminLogIn", admin_session_path %></li>
		<li>Not logged in</li>
	</ul>
<% end %>
	
<div id="wrapper">	
	<%= yield %>
</div>

</body>
</html>
