 <div class="admin-menu-container">
    <h1><%= admin_nav_head %></h1>
      <nav class="admin-bets-menu">
        <ul>
        <li> <%= link_to "All matches", bets_path %> </li>
         <li> <%= link_to "Create new", new_bet_path %> </li>
         <li> <%= link_to "Current", current_matches_bets_path %> </li>
         <li> <%= link_to "Finished", finished_matches_bets_path %> </li>
         <li> <%= link_to "LoL", lol_matches_bets_path %> </li>
         <li> <%= link_to "CS:GO", csgo_matches_bets_path %> </li>
         <li> <%= link_to "Dota2", dota2_matches_bets_path %> </li>
         <li> <%= link_to "SC2", sc2_matches_bets_path %> </li>
        </ul>
      </nav>
    </div>