<div class="container">
  <div class="row">
    <div class="match-container" style="margin-top: 110px; margin-bottom: 110px;">
      <div class="game-info-container">
        <p><%= @bet.game %></p>
      </div>  
      <% @starts_in_mon = @bet.match_starts_at.mon - DateTime.now.mon %>
      <% @starts_in_min = @bet.match_starts_at.min - DateTime.now.min %>
      <% @starts_in_day = @bet.match_starts_at.day - DateTime.now.day %>
      <% @starts_in_hour = @bet.match_starts_at.hour - DateTime.now.hour %>
      <% if @starts_in_hour < 0 then @starts_in_hour = @starts_in_hour.to_i*(-1) end %>
      
      <h1>
        <span><%= @bet.team_one %></span> 
        VS. 
        <span><%= @bet.team_two %></span>
      </h1>
      <% if @starts_in_day >= 0 %>
        <h2> starts in <%= @starts_in_day %>d <%= @starts_in_hour %>h </h2>
      <% elsif @starts_in_min <= 0  %>
        <h2> started </h2>
      <% else %>
        <h2> starts in <%= @starts_in_hour %>h </h2>
      <% end %>
      <h3>BO<%= @bet.bestof %></h3>
    </div> <!-- .match-container -->

    <div class="delivery-new-prize-container padding-50">
      <%= form_for(@bet) do |f| %>
      	<div class="field">
      	  <%= f.label "Winner" %><br>
      	  <select name="bet[winner]">
      	    <option value="1"><%= @bet.team_one %></option>
      	    <option value="2"><%= @bet.team_two %></option>
      	  </select>
      	</div>

      	<div class="actions">
        		<%= f.button :submit %>
      	</div>
      <% end %>
    </div>

  </div>
</div>
