<p id="notice"><%= notice %></p>

<h1>All Matches</h1>
<%= link_to "Create new match", new_bet_path %>
<%= link_to "Current matches", current_matches_bets_path %>
<%= link_to "Finished matches", finished_matches_bets_path %>

<table>
  <thead>
    <tr>
      <th>Team one</th>
      <th>Team two</th>
      <th>Team one chance</th>
      <th>Team two chance</th>
      <th>Team one value</th>
      <th>Team two value</th>
      <th>Winner</th>
      <th>Bets on team one</th>
      <th>Bets on team two</th>
      <th>Can bet</th>
      <th>Mach starts at:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.team_one %></td>
        <td><%= bet.team_two %></td>
        <td><%= bet.team_one_chance %></td>
        <td><%= bet.team_two_chance %></td>
        <td><%= bet.team_one_value %></td>
        <td><%= bet.team_two_value %></td>
        <td><%= bet.winner %></td>
        <td><%= bet.bets_on_team_one %></td>
        <td><%= bet.bets_on_team_two %></td>
        <td><%= bet.can_bet %></td>
        <td><%= bet.match_starts_at %></td>
        <td><%= link_to 'Show', bet %></td>
        <td><%= link_to 'Edit', edit_bet_path(bet) %></td>
        <td><%= link_to 'Finish', finish_match_bets_path(bet.id) %></td>
        <td><%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
