<div class="container">
  <div class="row">

      <p id="notice"><%= notice %></p>

      <%= render partial: 'admin_nav_deliveries', :locals => {:admin_nav_head => "Listing Deliveries"} %>

      <table>
        <thead>
          <tr>
            <th>User Name</th>
            <th>User ID</th>
            <th>Prize ID</th>
            <th>Prize</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @deliveries.each do |delivery| %>
            <tr>
              <td><%= User.find(delivery.user_id).username %></td>
              <td><%= delivery.user_id %></td>
              <td><%= delivery.prize_id %></td>
              <td><%= Prize.find(delivery.prize_id).name %></td>
              <td><%= link_to 'Show', delivery %></td>
              <td><%= link_to 'Destroy', delivery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>


  </div>
</div>
