At the momemnt we have 3 tables: Users, Bets, User_Bets <br>
#/main/bet/1/2  = #/main/bet/user_id/bet_id

<h2>So much bugs to fix before continuing: </h2>
<ul>
	<li> take points of user </li>
	<li> bet link on index </li>
	<li> sign in fixes(later) </li>
</ul>

<h2>http://localhost:3000/users/Theuser/bets -> show all bets of user Theuser</h2>
<h2>http://localhost:3000/m/bet/Theuser/1 -> bet on match(ID1) by user Theuser</h2>

<h1>02.09</h1>
<ul>
	<li> At the moment when new user bet is created, its actually using the update action from user_bets_controller </li>
	<li> --- fix this by redirecting the form submit to create action </li>
</ul>

<div class="bets">
	<div class="active">
		<% @bets.each do |bet| %>
			<div class="bet_layout">
				<p> 
					<span class="team_one_chance">
						<%= bet.team_one_chance %>%
					</span>
					<span class="team_one"> 
						<%= bet.team_one %> 
					</span>
					VS. 
					<span class="team_two">
						<%= bet.team_two %> 
					</span>
					<span class="team_two_chance">
						<%= bet.team_two_chance %>%
					</span>
				</p>

				<div class="values">
				values:
					<span class="team_one_value">
						<%= bet.team_one_value %>
					</span>
					<span class="team_two_value">
						<%= bet.team_two_value %>
					</span>
				</div>

				<div class="bet_button">
					<% if current_user %>
					<%= link_to "Bet", user_bet_user_bets_path(bet.id) %>
					<% else %>
					<%= link_to "Bet", new_user_session_path %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>

	<div class="finished">

	</div>
</div>