
<div class="container">
	<div class="row">
		<div class="slider-container">

			<ul class="bxslider">
			  <li>
			  	<div class="slider-slide-container">
	  			  	<div class="slider-headline">No money, no risks</div>
				  	<div class="slider-subline">Bet on your favorite games without investing money and get <br /> awesome rewards.</div>
				  	<div class="slider-image"></div>
				</div>
			  </li>
			  <li><img src="assets/scene.jpg" /></li>
			  <li><img src="assets/scene.jpg" /></li>
			</ul>

		</div> <!-- slider container -->
	</div> <!-- row -->
</div>

<% match_counter = 0 %>
<div class="matches-soon-container">
	<div class="container">
		<div class="section_headline"> Matches starting soon </div>

		<div class="row">
			<% @starting_soon.each do |match| %>
			<%= link_to user_bet_user_bets_path(match.id) do %>	
			<% match_counter += 1 %>
			<% if match_counter % 2 != 0 %>
				<div class="col-xs-12 col-sm-8">
			<% elsif match_counter % 2 == 0 %>
				<div class="col-xs-12 col-sm-8 col-sm-offset-4">
			<% end %>
					<div class="match-container">
						<div class="game-info-container">
							<p><%= match.game %></p>
						</div>	
						<% @starts_in_mon = match.match_starts_at.mon - DateTime.now.mon %>
						<% @starts_in_min = match.match_starts_at.min - DateTime.now.min %>
						<% @starts_in_day = match.match_starts_at.day - DateTime.now.day %>
						<% @starts_in_hour = match.match_starts_at.hour - DateTime.now.hour %>
						<% if @starts_in_hour < 0 then @starts_in_hour = @starts_in_hour.to_i*(-1) end %>
						
						<h1>
							<span><%= match.team_one %></span> 
							<div class="versus"> VS. </div> 
							<span><%= match.team_two %></span>
						</h1>
						<% if @starts_in_day >= 0 %>
							<h2> starts in <%= @starts_in_day %>d <%= @starts_in_hour %>h </h2>
						<% elsif @starts_in_min <= 0  %>
							<h2> started </h2>
						<% else %>
							<h2> starts in <%= @starts_in_hour %>h </h2>
						<% end %>
						<h3>BO<%= match.bestof %></h3>
					</div> <!-- .match-container -->
				</div> <!-- .columns -->
			<% end #link_to %>
			<% end %>
		</div>
	</div>
</div>
</div>


<div class="container">
	<div class="row last-added-prizes-container">
		<div class="section_headline">Lastly added prizes</div>

		<% @prizes.each do |prize| %>
			<div class="col-xs-12 col-sm-4">
			<%= link_to (new_prize_delivery_delivery_path(prize.id)) do %>
				<div class="prize-container" style="background: url('<%= prize.thumbnail.url %>'); background-size: cover">	
					<div class="prize-container-hover">
						<div class="prize-info">
							<div class="last-prize-name"> <%= prize.name %> </div>
						</div>
					</div>
				</div> <!--  -->
			<% end %>

						

				<%= link_to (new_prize_delivery_delivery_path(prize.id)) do %>
					<button class="btn-buy-prize">
						Buy for <%= prize.price %>p
					</button>
				<% end %>
			</div>
	<% end %>				

	</div>
</div>







<!-- 
<div class="seperation-block">
	<p>matches starting soon</p>
</div>
-->



	<% if false%>

<% match_counter = 0 %>
<div class="matches-soon-container">
	<div class="container">
		<div class="row">
			<% @starting_soon.each do |match| %>
			<%= link_to user_bet_user_bets_path(match.id) do %>	
			<% match_counter += 1 %>
			<% if match_counter % 2 != 0 %>
				<div class="col-xs-12 col-sm-6">
			<% elsif match_counter % 2 == 0 %>
				<div class="col-xs-12 col-sm-6 col-sm-offset-6">
			<% end %>
					<div class="match-container">
						<div class="game-info-container">
							<p><%= match.game %></p>
						</div>	
						<% @starts_in_mon = match.match_starts_at.mon - DateTime.now.mon %>
						<% @starts_in_min = match.match_starts_at.min - DateTime.now.min %>
						<% @starts_in_day = match.match_starts_at.day - DateTime.now.day %>
						<% @starts_in_hour = match.match_starts_at.hour - DateTime.now.hour %>
						<% if @starts_in_hour < 0 then @starts_in_hour = @starts_in_hour.to_i*(-1) end %>
						
						<h1>
							<span><%= match.team_one %></span> 
							 <div class="versus"> VS. </div> 
							<span><%= match.team_two %></span>
						</h1>
						<% if @starts_in_day >= 0 %>
							<h2> starts in <%= @starts_in_day %>d <%= @starts_in_hour %>h </h2>
						<% elsif @starts_in_min <= 0  %>
							<h2> started </h2>
						<% else %>
							<h2> starts in <%= @starts_in_hour %>h </h2>
						<% end %>
						<h3>BO<%= match.bestof %></h3>
					</div> <!-- .match-container -->
				</div> <!-- .columns -->
			<% end #link_to %>
			<% end %>
		</div>
	</div>
</div>
</div>

<!-- 
<div class="seperation-block">
	<p> Last added prizes </p>
</div>
-->


<div class="container prizes-container">
	<div class="row">	
		<% @prizes.each do |prize| %>
				<div class="col-xs-12 col-sm-4">
					<div class="prize-container">				
						
					</div>

					<div class="prize-info">
						<h1> <%= prize.name %> </h1>
						<h2> <%= prize.price %>p </h2>
					</div>

					<%= link_to (new_prize_delivery_delivery_path(prize.id)) do %>
						<button class="btn-buy-prize">
							Buy
						</button>
					<% end %>
				</div>
		<% end %>				
	</div>
</div>

<% end %>



<%if false %>
<%= link_to "LoL Matches", lol_matches_main_index_path %>
<%= link_to "CS:GO Matches", csgo_matches_main_index_path %>
<%= link_to "Dota2 Matches", dota2_matches_main_index_path %>
<%= link_to "SC2 Matches", sc2_matches_main_index_path %>



<div class="bets">
	<div class="active">
		<% @bets.each do |bet| %>
			<% if bet.can_bet != 0 %> <!-- show matches which are to be played or are being played ATM -->
				<div class="bet_layout">
					<p>
						<span class="team_one_chance">
							<%= bet.team_one_chance %>%
						</span>
						<span class="team_one">
							<%= bet.team_one %>
						</span>
						VS.
						<span class="team_two">
							<%= bet.team_two %>
						</span>
						<span class="team_two_chance">
							<%= bet.team_two_chance %>%
						</span>
					</p>

					<div class="values">
					values:
						<span class="team_one_value">
							<%= bet.team_one_value %>
						</span>
						<span class="team_two_value">
							<%= bet.team_two_value %>
						</span>
					</div>

					<div class="bet_button">
						<% if current_user %>
							<%= link_to "Bet", user_bet_user_bets_path(bet.id) %>
						<% elsif current_admin %>
							<%= link_to "Finish match", finish_match_bets_path(bet.id) %>
						<% else %>
							<%= link_to "Log in to bet", new_user_session_path %>
						<% end %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
<% end %>
