<p id="notice"><%= notice %></p>

<p>
  <strong>Bet on:</strong>
  <%= @user_bet.bet_on_id %>
</p>

<p>
  <strong>Bet points:</strong>
  <%= @user_bet.bet_points %>
</p>

<p>
  <strong>Bet team:</strong>
  <%= @user_bet.bet_team %>
</p>

<p>
  <strong>Won:</strong>
  <%= @user_bet.won %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @user_bet.loss %>
</p>

<p>
  <strong>Returned value:</strong>
  <%= @user_bet.returned_value %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @user_bet.closed %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_bet.user %>
</p>

<p>
  <strong>Bet:</strong>
  <%= @user_bet.bet %>
</p>

<%= link_to 'Edit', edit_user_bet_path(@user_bet) %> |
<%= link_to 'Back', user_bets_path %>
